<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.back.mapper.CartMapper">

    <resultMap id="CartResultMap" type="com.example.back.pojo.Cart">
        <id property="cart_id" column="cart_id"/>
        <result property="owner_id" column="owner_id"/>
        <association property="book" javaType="com.example.back.pojo.Book">
            <id property="book_id" column="book_id"/>
            <result property="book_title" column="book_title"/>
        </association>
    </resultMap>

    <select id="listCarts" resultMap="CartResultMap">
        SELECT cart.cart_id, cart.book_id, cart.owner_id, book.book_title
        FROM cart
        JOIN book ON cart.book_id = book.book_id
    </select>

    <select id="getCartById" parameterType="Integer" resultMap="CartResultMap">
        SELECT cart.cart_id, cart.book_id, cart.owner_id, book.book_title
        FROM cart
        JOIN book ON cart.book_id = book.book_id
        WHERE cart.cart_id = #{cart_id}
    </select>

    <select id="getCartsByOwnerId" parameterType="Integer" resultMap="CartResultMap">
        SELECT cart.cart_id, cart.book_id, cart.owner_id, book.book_title
        FROM cart
        JOIN book ON cart.book_id = book.book_id
        WHERE cart.owner_id = #{owner_id}
    </select>

    <select id="searchCartsByTitle" parameterType="String" resultMap="CartResultMap">
        SELECT cart.cart_id, cart.book_id, cart.owner_id, book.book_title
        FROM cart
        JOIN book ON cart.book_id = book.book_id
        WHERE book.book_title LIKE CONCAT('%', #{title}, '%')
    </select>

    <insert id="addCart">
        INSERT INTO cart (book_id, owner_id)
        VALUES (#{book_id}, #{owner_id})
    </insert>

    <update id="updateCart">
        UPDATE cart
        SET book_id = #{book_id}, owner_id = #{owner_id}
        WHERE cart_id = #{cart_id}
    </update>

    <delete id="deleteCart">
        DELETE FROM cart WHERE cart_id = #{cart_id}
    </delete>

    <delete id="deleteCarts">
        DELETE FROM cart WHERE cart_id IN
        <foreach item="cartId" index="index" collection="cartIds" open="(" separator="," close=")">
            #{cartId}
        </foreach>
    </delete>

</mapper>