<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.back.mapper.CartMapper">

    <select id="listCarts" resultType="com.example.back.pojo.Cart">
        SELECT cart_id, book_id, owner_id
        FROM cart
    </select>

    <select id="getCartById" parameterType="Integer" resultType="com.example.back.pojo.Cart">
        SELECT cart_id, book_id, owner_id
        FROM cart WHERE cart_id = #{cart_id}
    </select>

    <insert id="addCart">
        INSERT INTO cart (book_id, owner_id)
        VALUES (#{book_id}, #{owner_id})
    </insert>

    <update id="updateCart">
        UPDATE cart
        SET book_id = #{book_id}, owner_id = #{owner_id}
        WHERE cart_id = #{cart_id}
    </update>

    <delete id="deleteCart">
        DELETE FROM cart WHERE cart_id = #{cart_id}
    </delete>

    <!-- 添加 deleteCarts 语句 -->
    <delete id="deleteCarts">
        DELETE FROM cart WHERE cart_id IN
        <foreach item="cartId" index="index" collection="cartIds" open="(" separator="," close=")">
            #{cartId}
        </foreach>
    </delete>

    <select id="getCartsByOwnerId" parameterType="Integer" resultType="com.example.back.pojo.Cart">
        SELECT cart_id, book_id, owner_id
        FROM cart WHERE owner_id = #{owner_id}
    </select>

</mapper>