<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.UserMapper">

    <select id="verify" resultType="com.example.back.pojo.User">
        SELECT * FROM user_info WHERE account = #{account} AND password = #{password}
    </select>

    <!-- 新增 SQL 语句：获取所有 is_banned 为 1 的用户数据 -->
    <select id="getBannedUsers" resultType="com.example.back.pojo.User">
        SELECT * FROM user_info WHERE is_banned = 1;
    </select>

    <!-- 新增 SQL 语句：更新用户信息 -->
    <update id="update">
        UPDATE user_info
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="avatar != null">avatar = #{avatar,jdbcType=BLOB},</if>
            <if test="email != null">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="is_banned != null">is_banned = #{is_banned},</if>
            <if test="ban_until != null">ban_until = #{ban_until},</if>
            <if test="account != null">account = #{account},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>