<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.UserMapper">

    <select id="verify" resultType="com.example.back.pojo.User">
        SELECT * FROM user_info WHERE account = #{account} AND password = #{password}
    </select>

    <!-- 新增 SQL 语句：获取所有 is_banned 为 1 的用户数据 -->
    <select id="getBannedUsers" resultType="com.example.back.pojo.User">
        SELECT * FROM user_info WHERE is_banned = 1;
    </select>

    <!-- 新增 SQL 语句：更新用户信息 -->
    <update id="updateUser">
        UPDATE user_info 
        SET is_banned = #{is_banned}, 
            ban_until = #{ban_until} 
        WHERE id = #{id}
    </update>

    <select id="getUserById" resultType="com.example.back.pojo.User">
        SELECT * FROM user_info WHERE id = #{id}
    </select>
</mapper>